<div class="container" ng-controller="TasksCtrl">
    <!-- Todos list -->
    <div ui-sortable ng-model="todos">
        <p class="input-group" ng-repeat="todo in todos" style="cursor: move;">
            {{todo.title}}<br>
            {{todo.description}}
            <span class="muted">{{todo.date | date:'MM/dd/yyyy @ h:mma'}}</span>
            <span class="input-group-btn">
                <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
            </span>
        </p>
    </div>
    <!-- Todos input -->
    <form class="addTaskForm" ng-controller="TasksCtrl" novalidate>
        <div class="row" ng-show="TasksCtrl.showForm">
            <input type="text" ng-model="todo.title" placeholder="Title" class="form-control" autofocus required>
        </div>
        <div class="row" ng-show="TasksCtrl.showForm">
            <textarea ng-model="todo.description" placeholder="Description" class="form-control"></textarea>
        </div>
        <div class="row">
            <button class="btn btn-primary form-control" ng-disabled="addTaskForm.$invalid" ng-click="addTodo()">+ Add new</button>
        </div>
    </form>
</div>